%h1 Listing books

%table.table.table-bordered
  %tr
    %th Title
    %th Author
    %th

  - @books.each do |book|
    %tr
      %th= link_to book.title, book
      %td= book.author
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete

= paginate @books

%br

= link_to 'New Book', new_book_path
